body {
  background: #eee5e9;
}
.grid {
  margin: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  align-items: center;
}
.grid > article {
  background: #eee5e9;
  border: none;
  box-shadow: 2px 2px 6px 6px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  width: 250px;
  transition: transform 0.3s;
}
.grid > article:hover {
  transform: translate(5px);
  box-shadow: 2px 2px 26px 0px rgba(0, 0, 0, 0.3);
}
.grid > article img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
img {
  width: 227px;
  height: 151px;
  border-radius: 8px;
  cursor: pointer;
}
h2 {
  text-align: center;
  font-size: 70px;
  font-weight: 600;
  background-image: linear-gradient(to left, #553c9a, #b393d3);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 500px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
p{
  text-align: center;
}
h1,h3{
  text-align: center;
}